* {
    box-sizing: border-box;
}

body {
    font-family: 'Coming Soon', cursive;
    background-color: #e7e7e7;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.info {
    min-width: 580px;
    padding: 10px;
    border: 1px dashed #555;

}

a {
    text-decoration: none;
    color: #000;
}

.nav-link {
    font-weight: bold;
    font-size: 18px;
    padding-right: 40px;
    text-transform: uppercase;

}

.nav-link:hover {
    color: #d89a8d;
}

.little {
    width: 200px;
}


.cat-list, aside {
    float: left;
}

.cat-list {
    width: 30%;
}

aside {
    width: 65%;
    padding: 20px;
}

img {
    padding: 15px 0 15px 15px;
    width: 580px;
}

button {
    background-color: #d89a8d;
    border-radius: 5%;
    padding: 15px;
    border: 1px solid;
    font-family: 'Coming Soon', cursive;
    font-size: large;
}
