<div class="container">
    <nav>
        {{#link-to 'cats' class="nav-link"}}Adopt from The Pantry{{/link-to}}
        {{#link-to 'about' class="nav-link"}}About{{/link-to}} 
        {{#link-to 'faq' class="nav-link"}}FAQ{{/link-to}} 
        {{#link-to 'drop' class="nav-link"}}Drop off a cat{{/link-to}}
    </nav>

    {{outlet}}
</div>
